<nav class="fixed top-0 left-0 w-full z-50 bg-gradient-to-r from-blue-500 to-purple-700 shadow-md">
  <div class="container mx-auto px-4 py-3 flex items-center justify-between">
    <!-- Logo -->
    <div class="text-2xl font-bold text-white cursor-pointer" routerLink="/home">
      {{ title }}
    </div>


    <div *ngIf="!isLoggedIn">
      <input class="border-2 py-2 rounded-lg outline-yellow-500 bg-slate-200 px-2 w-80" type="text" name=""
        placeholder="Search auction Item ">
    </div>

    <div class="flex justify-center  align-center gap-4">
      <div class="  lg:flex space-x-6 items-center" *ngIf="!isLoggedIn">
        <a routerLink="/" class="text-white hover:text-gray-200 font-medium transition duration-300">Home</a>
        <a routerLink="/signup"
          class="bg-yellow-600 text-white font-medium px-4 py-2 rounded-md shadow-lg hover:opacity-90 transition">Register</a>
        <a routerLink="/login"
          class="bg-yellow-600 text-white font-medium px-4 py-2 rounded-md shadow-lg hover:opacity-90 transition">Login</a>
      </div>

      <button class="w-10 h-10 rounded-full overflow-hidden border-2 border-white lg:mr-4 focus:outline-none"
        *ngIf="isLoggedIn" (click)="toggleProfilePanel()">
        <img [src]="userProfileImage" alt="Profile" />
      </button>

    </div>
    <!-- Profile Picture for Logged-In Users -->


  </div>

  <!-- Profile Panel -->
  <div class="flex  flex-row">
    <div
      class="fixed top-0 right-0 h-full w-64 bg-white shadow-lg z-50 transform transition-transform duration-300 ease-in-out"
      [ngClass]="{ 'translate-x-0': isProfilePanelOpen, 'translate-x-full': !isProfilePanelOpen }">
      <div class="flex items-center justify-between px-6 pb-2 py-2 border-b">
        <!-- Logo & Title -->
        <div class="flex items-center space-x-2">

          <span class="text-2xl font-bold text-yellow-600">BidNow</span>
        </div>
        <button class="p-2 rounded-md hover:bg-gray-200 focus:outline-none" (click)="toggleProfilePanel()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <!-- Links for Bidder -->
      <div class="flex flex-col p-4 space-y-2 border-b" >
        <div class="flex items-center">
          <mat-icon>gavel</mat-icon>
          <a routerLink="/auctions" class="text-black hover:text-gray-500 font-medium px-3 py-2 rounded-md">Auction</a>
        </div>
        <div class="flex items-center">
          <mat-icon>insert_chart_outlined</mat-icon>
          <a routerLink="/leaderboard"
            class="text-black hover:text-gray-500 font-medium px-3 py-2 rounded-md">Leaderboard</a>
        </div>
      </div>

      <!-- Links for Seller -->
      <div class="flex flex-col p-4 space-y-2 border-b" *ngIf="userRole === 'seller'">
        <div class="flex items-center">
          <mat-icon>open_in_new</mat-icon>
          <a routerLink="/createauction" class="text-black hover:text-gray-500 font-medium px-3 py-2 rounded-md">Create
            Auction</a>
        </div>
        <div class="flex items-center">
          <mat-icon>offline_bolt</mat-icon>
          <a routerLink="/profile" class="text-black hover:text-gray-500 font-medium px-3 py-2 rounded-md">Submit
            Commission</a>
        </div>
      </div>

      <!-- Common Links -->
      <div class="flex flex-col p-4 space-y-2">
        <div class="flex items-center">
          <mat-icon>person</mat-icon>
          <a routerLink="/profile" class="text-black hover:text-gray-500 font-medium px-3 py-2 rounded-md">Profile</a>
        </div>
        <div class="flex items-center">
          <mat-icon>supervised_user_circle</mat-icon>
          <a routerLink="/about" class="text-black hover:text-gray-500 font-medium px-3 py-2 rounded-md">About Us</a>
        </div>
        <div class="flex items-center">
          <mat-icon>contact_support</mat-icon>
          <a routerLink="/contact" class="text-black hover:text-gray-500 font-medium px-3 py-2 rounded-md">Contact
            Us</a>
        </div>
        <div class="flex items-center">
          <mat-icon>logout</mat-icon>
          <a (click)="logout()" class="text-black hover:text-gray-500 font-medium px-3 py-2 rounded-md">Logout</a>
        </div>
      </div>
    </div>
  </div>

</nav>