<div class="flex items-center flex-col justify-center min-h-screen bg-gradient-to-tr from-blue-50 to-blue-200 overflow-hidden">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md animate-slide-up">
  
      <!-- Conditional UI -->
      <div *ngIf="resetLinkSent; else formUI">
        <div class="text-center">
          <h2 class="text-2xl font-bold text-center mb-6 text-gray-700">Forgot Password</h2>

          <mat-icon diameter=" "  aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
          <p class="text-gray-600 mt-4 ">If an account exists for <b>{{ userData.email }}</b>, you will receive a password reset link shortly.</p>
        </div>
        <div class="mt-6 text-center flex  flex-row justify-center align">
         
          <a mat-raised-button routerLink="/login" class="text-blue-500 hover:underline flex  flex-row justify-center align">    <mat-icon>keyboard_backspace</mat-icon> Back to Login</a>
        </div>
      </div>
  
      <!-- Form UI -->
      <ng-template #formUI>
        <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <h1 class="text-xl font-bold text-center mb-6  leading-tight tracking-tight text-gray-900 md:text-2xl">Forgot Password</h1>
          <p class="text-center mb-6 text-gray-700">
            Enter your email address and we'll send you a link to reset your password.
          </p>
  
          <div class="mb-4">
            <input 
              type="email"
              id="email"
              [(ngModel)]="userData.email"
              name="email"
              required
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
              placeholder="Enter your email address"
            />
          </div>
  
          <div *ngIf="errorMessage" class="mb-4 text-red-500 text-sm">
            {{ errorMessage }}
          </div>
  
            <button
      type="submit"
      class="w-full bg-gradient-to-r from-blue-500 to-purple-700 text-white py-2 px-4 rounded-lg hover:from-blue-600 hover:to-purple-800 focus:outline-none"
    >
     Send Reset Link
    </button>
        </form>
  
        <div class="mt-4 text-center">
            <mat-icon class="mat-icon-rtl-mirror" svgIcon="back-arrow"></mat-icon>

          <a routerLink="/login" class="text-blue-500 hover:underline">Back to Login</a>
        </div>
      </ng-template>
    </div>
    
  </div>

  
 