@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: "Open Sans", serif !important;
}



.custom-btn {
    background: linear-gradient(to right, #3b82f6, #6b21a8) !important;
    color: white !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
button,
a {

    font-family: "Open Sans", serif !important;
}